// views/view-instance-config.scss
@import "../../../../style/variables.scss";
@import "../../../../style/mixins.scss";

// Styles
.view-app-settings {
  .layout-section {
    .section-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    [class^="control-group"] {
      text-align: center;
    }
  }

  .control-group {
    border: 1px solid edge-color($color-content-background);
    border-radius: $border-radius-base;
    padding: spacing-scale(4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    + .control-group {
      margin-left: spacing-scale(2);
    }

    .readout + .uk-button {
      margin-top: spacing-scale(1);
    }
  }

  .control-group-polling-start-stop {
    flex: 0 0 spacing-scale(20);
    align-self: stretch;
    padding: 0px;
    height: 140px;
    width: 160px;

    .label {
      position: absolute;
      bottom: 10px;
      width: 100%;
      left: 0px;
    }

    > svg {
      color: $color-highlight;
      will-change: transform;
      transition: all 0.3s ease;
    }

    &:hover svg,
    &:active svg,
    &:focus svg {
      transition: all 0.1s ease;
      transform: scale(1.1);
    }
    &:active svg {
      transition: all 0;
      transform: scale(1);
    }
  }

  .control-group-polling-interval {
    flex: 0 1 50%;
    padding-left: spacing-scale(4);
    padding-right: spacing-scale(4);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .input-range__label.input-range__label--value {
      font-family: $font-stack-base;
      text-align: center;
      font-weight: 600;
      color: $color-highlight;
      font-size: $font-size-lg * 1.5;
      line-height: 0;
      margin-left: -50%;
      will-change: transform;
      transform: translateX(-50%) translateY(4px);

      .input-range__label-container {
        position: static;
      }
    }

    .label {
      font-size: $font-size-base;
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      left: 0px;
    }

    .input-range__slider-container {
      transition: left 0;
      will-change: transform;
    }

    .input-range__slider {
      transition: transform 0.3s ease;
      background: #0aab2a;
      border: none;
      border-radius: 0;

      &:hover,
      &:focus,
      &:active {
        transform: scale(1.1);
      }
    }

    .input-range__slider:before {
      color: #0aab2a;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #0aab2a;
      top: 100%;
      content: "";
      position: absolute;
    }

    .input-range__track {
      border-radius: 20px;
      background-color: contrast-color($color-content-background, 12%);
    }
  }
}
