// components/jsonInspector.scss
@import "../../../../../style/variables.scss";
@import "../../../../../style/mixins.scss";

// Local Variables
$toolbar-height: spacing-scale(7);

// Styles
.inspector {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: $font-stack-data;
  line-height: 1.2;
  height: 100%;
  border-radius: $border-radius-base;
  display: flex;
  flex-direction: column;
}

.inspector-data {
  flex: 1 1 100%;
  width: 100%;
  overflow-scroll: touch;
  margin: 0 auto;
  overflow-y: scroll;
  word-break: break-all;
  padding: 0 spacing-scale(1);
}

.inspector-search {
  @include function-button-base();
  @include function-button-style();
  @include function-button-size();
  appearance: none;
  user-select: auto;
  text-align: left;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
  width: 100%;

  &[type="text"],
  &[type="search"] {
    cursor: text;

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &::placeholder {
    color: currentColor;
    opacity: 1;
    text-align: center;
  }

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5),
      0 0 0 1px transparentize($color-highlight, 0.25),
      0 0 0 4px transparentize($color-highlight, 0.75);
  }
}

.inspector-toolbar {
  flex: 0 0 $toolbar-height;
  padding: spacing-scale(1);
  display: flex;
  align-items: stretch;
  box-shadow: 0 1px 0 0 edge-color($color-content-background);
}

.inspector-item {
  display: block;
  cursor: pointer;
  display: flex;
  padding: spacing-scale(0.5) spacing-scale(1);
  word-wrap: break-word;
  transition: all 0.2s ease;
  border-radius: $border-radius-base;
  will-change: transform;

  &:first-child {
    margin-top: spacing-scale(1);
  }

  &:hover {
    color: $color-highlight;
  }

  &:active {
    color: $color-highlight;
    transform: scale(0.9875);
    transition-duration: 0;
  }

  &[class*="active"] {
    background: $color-highlight;
    color: #fff;
    transform: scale(1.0125);
    z-index: 999999;
  }
}
