// components/charts.scss
@import "../../../../style/variables.scss";
@import "../../../../style/mixins.scss";

// Local Variables
$chart-background-color: transparent;
$chart-spacing: spacing-scale(1);
$chart-height-base: 250px;

// Helpers
@mixin chart-height($height) {
  height: $height;
}

// Styles

.chart {
  font-family: $font-stack-data;
  background-color: $chart-background-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid transparent;

  .chart-title {
    font-size: $font-size-lg;
    margin: 0;
    padding: spacing-scale(1) spacing-scale(2);
    flex: 1 0 spacing-scale(5);
    flex: 0 0 auto;
  }

  .chart-content {
    flex: 1 1 100%;
    min-height: 250px;
    position: relative;

    > * {
      margin: $chart-spacing;
    }
  }

  .chart-details {
    display: none;
    padding: spacing-scale(1);
    flex-direction: row;

    &:not(:empty) {
      display: flex;
    }
    .chart-detail {
      padding: 0 spacing-scale(1);
    }
  }

  .chart-empty {
    padding: spacing-scale(1);
    flex: 1 0 auto;

    h1,
    p,
    ul {
      margin: 0;
      padding: 0;
    }

    h1 {
      color: contrast-color($chart-background-color, 100%, $color-warning);
      font-weight: bold;
      font-size: $font-size-lg;
      padding-bottom: spacing-scale(2);
      margin-bottom: spacing-scale(2);
      border-bottom: 1px solid edge-color($chart-background-color);
    }

    p,
    ul {
      color: $color-content-muted;
    }

    ul {
      padding-left: spacing-scale(2);
      list-style: circle;
    }
  }

  &.chart-height-xs {
    @include chart-height($chart-height-base * 0.5);
  }

  &.chart-height-sm {
    @include chart-height($chart-height-base * 0.75);
  }

  &.chart-height-normal {
    @include chart-height($chart-height-base);
  }

  &.chart-height-lg {
    @include chart-height($chart-height-base * 1.25);
  }

  &.chart-height-xl {
    @include chart-height($chart-height-base * 1.5);
  }

  &:not([class*="chart-height-"]),
  &.chart-height-max {
    height: 100%;
  }
}
