; Use the public registry for privately scoped packages because they may not be
; published to a private NPM registry used by this project.
registry = "http://registry.npmjs.org"
@types:registry=registry
@storybook/addon-actions:registry=registry
