// components/charts.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables
$graph-background-color: contrast-color($color-content-background, 4%);
$graph-padding: $padding-base;

// Helpers
@mixin styles-for-chart-title() {
  font-size: $font-size-lg;
}

@mixin styles-for-axis-labels() {
}

// Styles

.chart {
  font-family: $font-stack-data;
  background-color: $graph-background-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid transparent;

  .chart-title {
    @include styles-for-chart-title();
    margin: 0;
    padding: $padding-base $padding-base*2;
    flex: 1 0 $padding-base*5;
    flex: 0 0 auto;
  }

  .chart-content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    > * {
      margin: $graph-padding;
    }
  }

  .chart-details {
    display: none;
    padding: $padding-base;
    flex-direction: row;

    &:not(:empty) {
      display: flex;
    }
    .chart-detail {
      padding: 0 $padding-base;
    }
  }

  .chart-empty {
    padding: $padding-base;
    flex: 1 0 auto;

    h1,
    p,
    ul {
      margin: 0;
      padding: 0;
    }

    h1 {
      color: contrast-color($graph-background-color, 100%, $color-warning);
      font-weight: bold;
      font-size: $font-size-lg;
      padding-bottom: $padding-base * 2;
      margin-bottom: $padding-base * 2;
      border-bottom: 1px solid edge-color($graph-background-color);
    }

    p,
    ul {
      color: $color-content-muted;
    }

    ul {
      padding-left: $padding-base * 2;
      list-style: circle;
    }
  }
}
