// components/data-displays.scss
@import "../variables.scss";
@import "../mixins.scss";
@import "../functions.scss";

// Local Variables
$readout-feature-background-contrast: 4%;
$readout-feature-background-color-base: contrast-color(
  $color-content-background,
  $readout-feature-background-contrast
);
$readout-feature-primary-background-color-base: $color-highlight;
$readout-feature-primary-text-color-base: $color-white;
$readout-dashboard-colors: custom-color-range(
  $base-color-1: $color-brand-primary,
  $base-color-2: $color-brand-secondary,
  $type: divergent,
  $size: 4
);

// Helpers

// Styles
.readout-dashboard-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin: spacing-scale(-0.5);

  > .readout {
    margin: spacing-scale(0.5);
    flex-grow: 1;
  }

  @for $i from 1 through length($readout-dashboard-colors) {
    $background-color: nth($readout-dashboard-colors, $i);
    .readout:nth-child(#{$i}n) {
      color: contrast-color($background-color, 100%);
      background-image: linear-gradient(
        lighter-color($background-color, 2%),
        darker-color($background-color, 2%)
      );
    }
  }
}

.readout {
  flex: 0 1 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: contrast-color(
    $color-content-background,
    $readout-feature-background-contrast
  );
  font-family: $font-stack-data;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: $border-radius-base;
  font-weight: $font-weight-base - 100;
  color: contrast-color($readout-feature-background-color-base);

  &.center {
    text-align: center;

    .readout-feature-data:first-child {
      padding-left: 0;
    }
  }

  .readout-feature {
    flex: 0 1 100%;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: spacing-scale(1) spacing-scale(0.5);

    + .readout-feature {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        border-top: 1px solid currentColor;
        opacity: 0.125;
      }
    }
  }
  .readout-feature-data {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: spacing-scale(1) 0;

    &:first-child {
      padding-left: spacing-scale(2);
    }
  }
  .readout-feature-icon {
    flex: 0 0 80px;
    text-align: center;
    span {
      fillcolor: currentcolor;
    }
  }
  .readout-feature-title,
  .readout-feature-value {
    margin: 0;
    line-height: 1;
    flex: 1 1 100%;
    color: inherit;
  }
  .readout-feature-title {
    font-size: $font-size-sm;
    font-family: $font-stack-data;
    min-height: 1em;
  }
  .readout-feature-value {
    font-size: $font-size-hero;
    word-break: break-all;
    min-height: 1em;
  }
  .readout-feature-detail {
    font-size: $font-size-sm;
    min-height: 1em;
  }

  &.readout-primary {
    background-color: $readout-feature-primary-background-color-base;
    color: $readout-feature-primary-text-color-base;

    .readout-feature {
      + .readout-feature {
        border-top-color: darken-color(
          $readout-feature-primary-background-color-base,
          10%
        );
      }
    }
  }

  .btn {
    flex: 0 0 auto;
    align-self: center;
    margin: spacing-scale(1);
  }
}

.react-grid-item > [class*="kv"] {
  height: 100%;
}

[class*="kv"] {
  font-family: $font-stack-data;

  .kv-title {
    font-weight: $font-weight-base;
    text-align: center;
    margin: 0;
  }

  &.kv-highlight {
    background-color: contrast-color($color-content-background, 4%);
    border-radius: $border-radius-base;
    padding: spacing-scale(1);
  }

  &.kv-hero {
    padding-top: spacing-scale(6);
    font-size: $font-size-lg;
    .kv-pair {
      padding-top: spacing-scale(0.25);
      padding-bottom: spacing-scale(0.25);
    }
  }

  &.kv-lg {
    font-size: $font-size-base;
    .kv-pair {
      padding-top: spacing-scale(0.25);
      padding-bottom: spacing-scale(0.25);
    }
  }

  &.kv-table {
    text-align: right;
    .kv-header {
      flex: 1 1 33%;
      &:first-child {
        margin-left: 33%;
      }
    }
    .kv-value,
    .kv-key {
      flex: 1 1 33%;
      text-align: right;
    }
    .kv-pair {
      padding-right: 15%;
    }
  }

  .kv-pair {
    display: flex;
    flex-direction: row;
    position: relative;

    &.kv-pair-primary {
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 4em;
        right: 4em;
        border-top: 1px solid edge-color($color-content-background);
        border-left: 8em solid transparent;
        border-right: 8em solid transparent;
      }

      .kv-sparkline {
        opacity: 1;
      }

      ~ .kv-pair-normal,
      ~ .kv-pair-secondary {
        font-size: 0.8em;
      }
    }

    &.kv-pair-normal,
    &.kv-pair-secondary {
    }

    &.kv-pair-secondary {
    }
  }

  .kv-key {
    opacity: 0.65;
    flex: 1 0 50%;
    text-align: right;
  }

  .kv-value {
    flex: 1 1 50%;
    padding-left: spacing-scale(1);
    text-align: left;
  }

  .kv-sparkline {
    opacity: 0.7;
    text-align: left;
    display: inline-block;
    width: 6em;
    padding-left: spacing-scale(1);
  }
}
