// components/data-displays.scss
@import "../variables.scss";
@import "../mixins.scss";
@import "../functions.scss";

// Local Variables
$readout-feature-background-contrast: 4%;
$readout-feature-background-color-base: contrast-color(
  $color-content-background,
  $readout-feature-background-contrast
);
$readout-feature-primary-background-color-base: $color-highlight;
$readout-feature-primary-text-color-base: $color-white;
$readout-dashboard-colors: custom-color-range(
  $base-color-1: $color-brand-primary,
  $base-color-2: $color-brand-secondary,
  $type: divergent,
  $size: 4
);

.react-grid-item > [class*="kv"] {
  height: 100%;
}

[class*="kv"] {
  font-family: $font-stack-data;

  .kv-title {
    font-weight: $font-weight-base;
    text-align: center;
    margin: 0;
  }

  &.kv-highlight {
    background-color: contrast-color($color-content-background, 4%);
    border-radius: $border-radius-base;
    padding: spacing-scale(1);
  }

  &.kv-hero {
    padding-top: spacing-scale(6);
    font-size: $font-size-lg;
    .kv-pair {
      padding-top: spacing-scale(0.25);
      padding-bottom: spacing-scale(0.25);
    }
  }

  &.kv-lg {
    font-size: $font-size-base;
    .kv-pair {
      padding-top: spacing-scale(0.25);
      padding-bottom: spacing-scale(0.25);
    }
  }

  &.kv-table {
    text-align: right;
    .kv-header {
      flex: 1 1 33%;
      &:first-child {
        margin-left: 33%;
      }
    }
    .kv-value,
    .kv-key {
      flex: 1 1 33%;
      text-align: right;
    }
    .kv-pair {
      padding-right: 15%;
    }
  }

  .kv-pair {
    display: flex;
    flex-direction: row;
    position: relative;

    &.kv-pair-primary {
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 4em;
        right: 4em;
        border-top: 1px solid edge-color($color-content-background);
        border-left: 8em solid transparent;
        border-right: 8em solid transparent;
      }

      .kv-sparkline {
        opacity: 1;
      }

      ~ .kv-pair-normal,
      ~ .kv-pair-secondary {
        font-size: 0.8em;
      }
    }

    &.kv-pair-normal,
    &.kv-pair-secondary {
    }

    &.kv-pair-secondary {
    }
  }

  .kv-key {
    opacity: 0.65;
    flex: 1 0 50%;
    text-align: right;
  }

  .kv-value {
    flex: 1 1 50%;
    padding-left: spacing-scale(1);
    text-align: left;
  }

  .kv-sparkline {
    opacity: 0.7;
    text-align: left;
    display: inline-block;
    width: 6em;
    padding-left: spacing-scale(1);
  }
}
