// components/dygraph.scss
@import "../variables.scss";
@import "../mixins.scss";

// Styles

.dygraph-container {
  font-family: $font-stack-data;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: inherit;

  > * {
    background-color: inherit;
  }
}

.dygraph-legend {
  text-align: right;
  position: absolute;
  color: transparentize($color-content, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: $border-radius-base;
  display: inline-block;
  z-index: 10000;
  right: 0 !important;
  left: auto !important;
  transition: all 0.2s ease, color 0.2s ease;
  color: transparent;
  padding: spacing-scale(1) spacing-scale(2) spacing-scale(1);
  opacity: 0;
  min-width: 18em;

  &,
  [style*="bold"] {
    font-weight: $font-weight-base !important;
  }

  :hover > & {
    opacity: 1;
    color: transparentize($color-content, 0.2);
    transition: all 0.2s ease, color 1s ease;
  }

  > span {
    .dygraph-legend-line {
    }
  }
}

.dygraph-label {
  opacity: 0.8;
  color: $color-content;
}

// Kept to document how to style dygraph components
// .dygraph-title {}
// .dygraph-axis-label.dygraph-ylabel,
// .dygraph-axis-label.dygraph-xlabel,
// .dygraph-axis-label.dygraph-y2label {
// }
