// components/footer-branding.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables

// Helpers
@mixin styles-for-footer-branding() {
  text-align: center;
  color: $color-white;
}

// Styles
.sidebar-footer-branding {
  @include styles-for-footer-branding();
  position: relative;
  flex: 0 0 auto;
  margin-top: $padding-base;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;

  > * {
    flex: 0 0 auto;
  }

  a {
    color: inherit;
    display: block;
    opacity: .8;
    padding: $padding-base;

    &:hover {
      opacity: 1;
    }
  }
}

.app-footer {
  user-select: none;
  overflow: hidden;
  padding: $padding-base*.5;
  display: flex;
  flex-direction: row;
  color: lighten($color-content, 10%);
  font-size: $font-size-sm;
  align-items: center;

  .long-logo,
  .links a {
    transition: all .2s ease;
  }

  .long-logo {
    flex: 0 1 auto;
    text-align: left;
    padding: 0 $padding-base;
    transition: all .2s ease;
    opacity: .8;
    filter: grayscale(100%);

    &:hover {
      opacity: 1;
      filter: grayscale(0%);
    }
    img {
      max-width: 157px;
    }
  }

  .copyright {
    margin: 0;
    text-transform: uppercase;
    flex: 1 1 100%;
    letter-spacing: .03em;
    text-align: center;
    transition: opacity .2s ease;
    cursor: default;
    z-index: -1;
    opacity: 0;

    @media all and (min-width: 800px) {
      opacity: .8;
      z-index: 1;
    }
  }

  .links {
    flex: 0 0 auto;
    text-align: right;
    padding: 0 0 0 $padding-base;

    a {
      color: $color-grey-2;
      padding: 0 $padding-base;

      &:hover {
        color: $color-highlight;
      }
    }
  }
}
