// components/jsonInspector.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables
$toolbar-height: $padding-base * 7;

// Helpers

// Styles
.inspector {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: $font-stack-data;
  padding-top: $padding-base * 5;
  line-height: 1.2;
  height: 100%;
  border-radius: $border-radius-base;
}

.inspector-data {
  overflow-scroll: touch;
  margin: 0 auto;
  overflow-y: scroll;
  word-break: break-all;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 $padding-base;
  z-index: 1;
}

.inspector-search {
  @include function-button-base();
  @include function-button-style();
  @include function-button-size();
  appearance: none;
  user-select: auto;
  text-align: left;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
  width: 100%;

  &[type="text"],
  &[type="search"] {
    cursor: text;

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &::placeholder {
    color: currentColor;
    opacity: 1;
    text-align: center;
  }

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, .5),
      0 0 0 1px transparentize($color-highlight, .25),
      0 0 0 4px transparentize($color-highlight, .75);
  }
}

.inspector-toolbar {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar-height;
  padding: $padding-base;
  display: flex;
  align-items: stretch;
}

.inspector-item {
  display: block;
  cursor: pointer;
  display: flex;
  padding: $padding-base*.5 $padding-base;
  word-wrap: break-word;
  transition: all .2s ease;
  border-radius: $border-radius-base;

  &:first-child {
    margin-top: $toolbar-height;
  }

  &:hover {
    color: $color-highlight;
  }

  &:active {
    color: $color-highlight;
    transform: scale(0.9875);
    transition-duration: 0;
  }

  &[class*="active"] {
    background: $color-highlight;
    color: #fff;
    transform: scale(1.0125);
    z-index: 999999;
  }
}
