// components/instances.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables
$instance-base-color: #4478c6;
$instance-spacing: 1px;
$instance-min-right-spacing: $padding-base / 4;
$instance-min-down-color: $color-danger;
$instance-width-min: $padding-base;

// Helpers

// Styles
.instances-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: stretch;
  margin: $padding-base * 2 0;
  padding: 0;
  max-width: 1000px;
  will-change: transform;

  .instance-slot {
    flex: 1 1 $instance-width-min;
    min-width: $instance-width-min;
    margin-right: 1px;
    height: $padding-base * 8;
    border-radius: 1px;
    border: 1px solid $instance-base-color;
    position: relative;
    transition: all .15s ease;
    box-shadow: 0 0 5px transparent;
    white-space: nowrap;
    color: contrast-color(
      $color-content-background,
      100%,
      $instance-base-color
    );

    a {
      color: inherit;
    }

    .instance-name {
      height: $instance-width-min;
      transform: rotateZ(90deg);
      transform-origin: bottom left;
      position: relative;
      font-size: $font-size-sm;
      line-height: $instance-width-min;
      top: -$padding-base / 4;
      left: $instance-width-min / 2;
      display: block;
    }

    &:before {
      position: absolute;
      letter-spacing: .03em;
      bottom: 100%;
      color: contrast-color($color-content-background);
      font-size: $font-size-xs;
    }

    &.instance-min {
      background-color: $instance-min-down-color;
      color: contrast-color($instance-min-down-color);
      border: none;
    }

    &:not(.instance-min) {
      margin-left: $instance-min-right-spacing + $instance-spacing;
      margin-right: -$instance-min-right-spacing;
    }

    &.instance-active {
      background-color: $instance-base-color;
      background-image: linear-gradient(
        $instance-base-color,
        darker-color($instance-base-color, 10%)
      );
      color: contrast-color(darken($instance-base-color, 20%), 100%);
      border: none;
      // @include interaction-type-scale(.075);

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 2px
          transparentize(contrast-color($color-content-background), .5);
      }

      &:active {
        box-shadow: none;
      }
    }

    &.instance-current,
    &.instance-open-slot {
      margin-left: $instance-min-right-spacing + 1px;
      margin-right: -$instance-min-right-spacing;
    }

    &.instance-min {
      &:before {
        content: 'MIN';
      }

      ~ .instance-min {
        &:before {
          content: none;
        }
      }

      ~ :not(.instance-min).instance-active {
        &:before {
          content: 'ADDED';
        }

        ~ [class*="instance-"] {
          &:before {
            content: none;
          }
        }
      }
    }
  }
}
