// components/section.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables
$section-icon-size: spacing-scale(3);
$section-border-width: 1px;
$section-header-spacing: spacing-scale(1) spacing-scale(2);
$section-header-icon-spacing: spacing-scale(1);
$section-header-title-size: $font-size-lg;
$section-content-padding: spacing-scale(1);

// Helpers
$section-border-color: edge-color($color-content-background);

@mixin section-title-styles() {
}

// Styles
.layout-section {
  margin-bottom: spacing-scale(4);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $section-header-spacing;
    border-top: $section-border-width solid $section-border-color;
    color: contrast-color($color-content-background);

    > .section-icon {
      flex: 0 0 auto;
      padding-right: $section-header-icon-spacing;
    }

    > .section-title {
      @include section-title-styles();
      color: inherit;
      font-size: $section-header-title-size;
      margin: 0;
    }

    > .section-tools {
      flex: 0 0 auto;
    }
  }

  > .section-content {
    padding: $section-content-padding;

    > .subsection {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      + .subsection {
        margin-top: spacing-scale(3);
      }
    }
  }
}
