// components/nav-widget.scss
@import "../variables.scss";
@import "../mixins.scss";
@import "buttons.scss";

// Local Variables
$nav-widget-background-color: contrast-color($color-sidebar-background, 12%);
$go-up-icon-size: spacing-scale(2);

// Helpers
$nav-widget-text-color: contrast-color($nav-widget-background-color);

@mixin nav-siblings-dropdown-style {
  background-color: $nav-widget-background-color;
  color: $nav-widget-text-color;
  font-size: $font-size-base;
  border-radius: $border-radius-base;
  box-shadow: 0 0 0 1px transparentize($nav-widget-background-color, 0.2);

  a {
    color: inherit;
    box-shadow: inset 0 -1px edge-color($nav-widget-background-color);
    background-color: $nav-widget-background-color;

    &:hover {
      background-color: contrast-color($nav-widget-background-color, 6%);
    }
  }

  li:first-child a {
    padding-top: spacing-scale(1.5);
  }
  li:last-child a {
    padding-bottom: spacing-scale(1.5);
    box-shadow: none;
  }
}

// Styles
.nav-widget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: $border-radius-base;
  margin: spacing-scale(0.25);
  overflow: hidden;

  > * {
    flex: 1 1 50%;
  }

  .nav-go-up,
  .nav-siblings {
    @include function-button-base();
    @include function-button-size();
    @include function-button-style(
      $button-background-color-base: $nav-widget-background-color,
      $button-outline-style: flat
    );
    position: relative;
    max-width: 100%;
    border-radius: 0;
    height: spacing-scale(4);
    box-shadow: 0 0 0 1px edge-color($nav-widget-background-color);

    .icon {
      color: $color-highlight;
      flex: 0 0 $go-up-icon-size;
      margin-right: spacing-scale(0.5) !important;
      position: relative;
      left: 2px;
    }

    .label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      z-index: 2;
    }
  }

  .nav-go-up {
    .label {
      text-align: left;
      flex: 0 1 100%;
    }
  }

  .nav-siblings {
    justify-content: space-between;

    .label {
      text-align: center;
    }
  }

  .nav-siblings-dropdown {
    @include nav-siblings-dropdown-style();
    padding: 0;
    max-height: 80vh;
    overflow-y: scroll;
    margin-top: 0;
    -webkit-overflow-scrolling: touch;

    a {
      min-height: spacing-scale(4);
      display: block;
      padding: spacing-scale(0.5) spacing-scale(1);
    }

    ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
