// components/object-diagram.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables
$object-diagram-background-color-base: $color-grey-1;

// Helpers

// Styles
.object-diagram {
  flex: 0 1 260px;
  background-color: $object-diagram-background-color-base;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: $border-radius-base;

  .object-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    + .object-feature {
      border-top: 1px solid darken($object-diagram-background-color-base, 10%);
    }
  }
  .object-feature-data {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: $padding-base 0;
  }
  .object-feature-icon {
    flex: 0 0 80px;
    text-align: center;
    span {
      fillColor: #fff;
    }
  }
  .object-feature-title,
  .object-feature-value {
    margin: 0;
    line-height: 1;
    flex: 1 1 100%;
    color: #fff;
  }
  .object-feature-title {
    font-size: $font-size-sm;
    font-family: $font-stack-data;
  }
  .object-feature-value {
    font-size: $font-size-hero;
  }
}
