// components/routesTable.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables

// Helpers

// Styles
.routes-table {
  // Define content widths
  .routes-table-route {
    flex: 1 1 calc(240px - 12em - 12em);
  }
  .routes-table-sparkline {
    flex: 0 1 240px;
  }
  .routes-table-total-requests {
    flex: 0 1 12em;
  }
  .routes-table-error-percent {
    flex: 0 1 12em;
  }
  .routes-table-monospace {
    font-family: $font-stack-data-mono;
  }

  [class*="err-pc-0"] {
    color: mix($color-danger, $color-success, 0);
  }
  [class*="err-pc-1"] {
    color: mix($color-danger, $color-success, 10%);
  }
  [class*="err-pc-2"] {
    color: mix($color-danger, $color-success, 20%);
  }
  [class*="err-pc-3"] {
    color: mix($color-danger, $color-success, 30%);
  }
  [class*="err-pc-4"] {
    color: mix($color-danger, $color-success, 40%);
  }
  [class*="err-pc-5"] {
    color: mix($color-danger, $color-success, 50%);
  }
  [class*="err-pc-6"] {
    color: mix($color-danger, $color-success, 60%);
  }
  [class*="err-pc-7"] {
    color: mix($color-danger, $color-success, 70%);
  }
  [class*="err-pc-8"] {
    color: mix($color-danger, $color-success, 80%);
  }
  [class*="err-pc-9"] {
    color: mix($color-danger, $color-success, 90%);
  }
  [class*="err-pc-100"] {
    color: mix($color-danger, $color-success, 100%);
  }

  .routes-table-sparkline,
  .routes-table-total-requests,
  .routes-table-error-percent {
    text-align: right;
  }

  .routes-table-route {
    position: relative;

    .route-viz-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: $padding-base * 2;
      height: 4px;
      content: '';
      border-bottom: 1px solid;

      .route-viz-fill {
        position: absolute;
        background-color: currentColor;
        border-radius: 0 1px 0 0;
        height: 2px;
        left: 0;
        bottom: 0;
      }
    }
  }

  .routes-table-sparkline {
    width: 240px;
  }

  .div-table-body {
    .routes-table-sparkline {
      height: $padding-base * 3;
      padding-top: $padding-base / 2;
      padding-bottom: $padding-base / 2;

      svg {
        height: inherit;
      }
    }
  }

  .ReactCollapse--content {
    height: 250px;
  }
}

.no-routes-found-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
  cursor: default;
  .content {
    font-size: $font-size-hero;
    border: 1px solid $color-warning;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    color: $color-content;
    border-radius: $border-radius-base * 2;
    flex-basis: 600px;
    padding: $padding-base * 8 $padding-base * 4;
    padding-top: $padding-base * 8;
    padding-bottom: $padding-base * 8;
    margin: $padding-base * 4;
    span {
      margin-left: 20px;
    }
  }
}
