// layout.scss
@import 'variables.scss';
@import 'mixins.scss';

// Local Variables

// Helpers

// Styles
.app-sidebar {
  background-image: url('../images/gm-fabric-bg.jpg');
  background-size: 300% auto;
  background-repeat: no-repeat;
  background-position: bottom -50px center;
}

.sidebar-footer {
}
