// components/summaryBar.scss
@import '../variables.scss';
@import '../mixins.scss';
@import 'buttons.scss';

// Local Variables
$summary-bar-background-color: $color-sidebar-background;

// Helpers
$summary-bar-card-active-background-color: contrast-color(
  $summary-bar-background-color,
  12%
);
$summary-bar-card-text-color: contrast-color($summary-bar-background-color);

// Styles

.summary-bar {
  flex: 1 1 100%;
  transition: all .15s ease;
  user-select: none;
}

.summary-bar-card {
  flex: 0 0 $padding-base*5;
  display: flex;
  flex-direction: column;
  background-color: $summary-bar-background-color;
  padding: 0;
  position: relative;
  transition: all .15s ease;

  .summary-bar-card-title {
    color: $summary-bar-card-text-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: $padding-base $padding-base*.5;
    border-top: 1px solid edge-color($summary-bar-background-color);
    position: relative;

    > * {
      flex: 0 0 $padding-base*3;
    }
  }

  .summary-bar-card-icon {
    margin-right: $padding-base / 2;
    position: relative;
    left: 2px;
  }

  .summary-bar-card-heading {
    font-size: $font-size-base;
    font-weight: $font-weight-base + 100;
    margin: .2em 0 0;
    flex: 1 1 100%;
    align-self: stretch;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    color: $summary-bar-card-text-color;
  }

  .btn[title="Details"] {
    @include function-button-style(
      $button-label-color-base: contrast-color($summary-bar-background-color, 60%),
      $button-background-color-base: transparent,
      $button-outline-style: raised
    );
    padding: 0;
    transition: all .15s ease;

    .label {
      @include hidden();
    }

    svg {
      transition: transform .05s ease;
    }
  }

  .summary-bar-card-body {
    padding: 0 0;
    margin-top: -$padding-base*.25;
    color: $summary-bar-card-text-color;
    transition: all .15s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .summary-bar-card-kv {
    display: flex;
    padding: 0 $padding-base;
    font-family: $font-stack-data;

    &:last-child {
      margin-bottom: $padding-base;
    }
  }

  .summary-bar-card-kv-key,
  .summary-bar-card-kv-value {
    font-size: $font-size-sm;
    font-weight: 500;
    flex: 1 1;
    padding: $padding-base / 4;
  }

  .summary-bar-card-kv-key {
    color: transparentize($summary-bar-card-text-color, .3);
    flex-basis: 40%;
    text-align: right;
  }
  .summary-bar-card-kv-value {
    flex-basis: 60%;
  }

  .summary-datapoint-line {
  }

  &:first-of-type {
    .summary-bar-card-title {
      border-top: 0;
    }
  }

  &:hover {
    background-color: mix(
      $summary-bar-background-color,
      $summary-bar-card-active-background-color,
      60%
    );
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.open {
    .summary-bar-card-body {
      transition: all .15s ease;
      max-height: 100vh;
      opacity: 1;
    }

    .btn[title="Details"] {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &.active {
    background-color: $summary-bar-card-active-background-color;
    box-shadow: inset 1px 0 $color-highlight;
    cursor: default;

    &,
    &:hover,
    &:active,
    &:focus {
      .summary-bar-card-title {
        border-top-color: transparent;
      }

      .summary-bar-card-heading {
        font-weight: 600;
      }
    }

    + .summary-bar-card .summary-bar-card-title {
      border-top-color: transparent;
    }
  }
}

.service-bar-title {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;

  > span > svg {
    margin-bottom: 8px;
  }
}
