// components/summaryBar.scss
@import '../variables.scss';
@import '../mixins.scss';
@import 'buttons.scss';

// Local Variables
$summary-bar-background-color: $color-black;
$summary-bar-card-active-background-color: $color-grey-1;
$summary-bar-card-text-color: $color-white;

// Helpers

// Styles

.summary-bar {
  flex: 1 1 100%;
  background-color: $summary-bar-background-color;
  box-shadow: inset -1px 0 rgba(0, 0, 0, .7);
}

.summary-bar-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  transition: all .1s ease;

  .summary-bar-card-title {
    color: $summary-bar-card-text-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $padding-base / 2;
    border-top: 1px solid rgba(255, 255, 255, .25);
    border-bottom: 1px solid transparent;

    > * {
      flex: 0 0 $padding-base*3;
    }
  }

  .summary-bar-card-icon {
    margin-right: $padding-base / 2;
  }

  .summary-bar-card-heading {
    font-size: $font-size-base;
    font-weight: $font-weight-base + 100;
    margin: 0;
    flex: 1 1 100%;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    color: $summary-bar-card-text-color;
  }

  .summary-bar-card-show-toggle {
    @include function-button-base();
    @include function-button-size();
    @include function-button-style(
      $button-label-color-base: $color-white,
      $button-background-color-base: transparent,
      $button-outline-style: raised
    );
    padding: 0;

    svg {
      transition: transform .05s ease;
    }
  }

  .summary-bar-card-body {
    padding: 0 0;
    color: $summary-bar-card-text-color;
  }

  .summary-bar-card-kv {
    display: flex;
    padding: 0 $padding-base;
    font-family: $font-stack-labels;

    &:last-child {
      margin-bottom: $padding-base;
    }
  }

  .summary-bar-card-kv-key,
  .summary-bar-card-kv-value {
    font-size: $font-size-sm;
    font-weight: 500;
    flex: 1 1;
    padding: $padding-base / 4;
  }

  .summary-bar-card-kv-key {
    color: transparentize($summary-bar-card-text-color, .3);
    flex-basis: 40%;
    text-align: right;
  }
  .summary-bar-card-kv-value {
    color: $color-white;
    flex-basis: 60%;
  }

  .summary-datapoint-line {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &:first-of-type {
    .summary-bar-card-title {
      border-top: 0;
    }
  }

  &:hover {
    background-color: mix(
      $summary-bar-background-color,
      $summary-bar-card-active-background-color,
      60%
    );
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.open {
    .summary-bar-card-body:not(:empty) {
    }

    .summary-bar-card-show-toggle {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &.active {
    background-color: $summary-bar-card-active-background-color;

    &.open {
      .summary-bar-card-title {
        margin-bottom: $padding-base;
      }
    }

    &,
    &:hover,
    &:active,
    &:focus {
      .summary-bar-card-title {
        border-top-color: transparent;
        border-bottom-color: $color-highlight;
      }

      .summary-bar-card-heading {
        font-weight: 600;
      }
    }
  }
}

.service-bar-title {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;

  > span > svg {
    margin-bottom: 8px;
  }
}
