// components/table.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables
$table-row-divider-color: $color-grey-3;
$table-row-height-basis: $padding-base * 4.5;
$table-drawer-height: 340px;

// Helpers
@mixin styles-for-rows() {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: $table-row-height-basis;
  box-shadow: inset 0 -1px $table-row-divider-color;
  background-color: $color-content-background;
  overflow: hidden;

  &.selectable {
    position: relative;

    &.open-true {
      height: $table-drawer-height;
    }

    &:hover {
      background-color: darken($color-content-background, 2%);
    }
  }
}

@mixin styles-for-cells() {
  flex: 1 1 15%;
  min-height: $table-row-height-basis;
  position: relative;
  padding-right: $padding-base * 2;
  padding-top: $padding-base / 1.125;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:first-child {
    padding-left: $padding-base * 2;
  }
}

// Styles
.uk-table th {
  text-align: center;
}

.data-table {
  padding: 32px 16px;

  h3 {
    margin: 0;
  }

  .uk-table {
    padding: 0;
    margin: 0;

    td {
      padding-left: 0;
    }
  }
}

.div-table {
  width: 100%;
  font-family: $font-stack-data;

  .div-table-header,
  .div-table-body > * {
    @include styles-for-rows;
  }

  .div-table-header > *,
  .div-table-body > * > * {
    @include styles-for-cells;
  }

  .div-table-header {
    font-weight: $font-weight-base;
  }
  .div-table-body {
    margin: 0;
    display: block;
    list-style: none;
    padding: 0;
  }

  .table-drawer {
    display: block;
    position: absolute;
    overflow: hidden;
    height: $table-drawer-height;
    padding: 0 $padding-base*2;
    box-shadow: inset 0 1px $color-grey-3, inset 0 -1px $color-grey-3;
    background-color: darken($color-content-background, 4%);
    left: 0;
    right: 0;
    top: $table-row-height-basis;
    bottom: 0;

    .ReactCollapse--content {
      height: $table-drawer-height;
    }
  }
}
