// components/threadsTable.scss
@import "../variables.scss";
@import "../mixins.scss";

// Styles

.thread-table {
  > .thread-table-body > li,
  > .thread-table-header {
    > .thread-table-id {
      padding-left: spacing-scale(2);
      flex: 0 1 4em;
      text-align: left;
    }
    > .thread-table-state {
      flex: 0 1 4em;
      text-align: center;
    }
    > .thread-table-stacktrace {
      flex: 0 1 4em;
      text-align: left;
    }

    > .thread-table-priority {
      flex: 0 1 4em;
    }

    > .thread-table-name {
      flex: 1 1 auto;
    }

    > .thread-table-daemon {
      text-align: right;
      flex: 0 1 8em;
    }

    > .thread-table-priority {
      text-align: right;
      flex: 0 1 8em;
      padding-right: spacing-scale(2);
    }
  }

  .stack-trace-indicator {
    opacity: 0.3;
    transition: all 0.2s ease;
  }

  > .thread-table-body > li:hover,
  .open-true {
    .stack-trace-indicator {
      opacity: 1;
      transform: scale(1.125);
    }
  }

  .table-drawer {
    .ReactCollapse--content {
      padding: spacing-scale(2) spacing-scale(4);
    }
  }

  .stack-trace {
    counter-reset: stack-trace; /* Set a counter named 'section', and it`s initial value is 0. */
    word-break: break-all;

    > div:not(:first-child) {
      counter-increment: stack-trace;
      position: relative;
      margin-left: 1.5em;

      &:before {
        content: counter(stack-trace);
        position: absolute;
        text-align: right;
        width: 5em;
        right: calc(100% + #{spacing-scale(1)});
        top: 0;
        opacity: 0.25;
      }
    }
  }
}
