// components/table.scss
@import '../variables.scss';
@import '../mixins.scss';

// Local Variables
$toolbar-background-color: contrast-color($color-content-background, 4%);

// Helpers

// Styles
.toolbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: $toolbar-background-color;
  box-shadow: inset 0 1px edge-color($toolbar-background-color),
    inset 0 -1px edge-color($toolbar-background-color);
  padding: $padding-base*.25 $padding-base*2;

  .toolbar-left {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-start;
  }

  .toolbar-center {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }

  .toolbar-right {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
  }

  .btn {
  }
}
