// functions.scss

// Color Functions

// Darken the color, but add a touch of saturation for a more natural shadow look
@function darker-color(
  $color,
  $percent) {
  // If the element has any substantial color to it, then you can mess with the saturation
  @if saturation($color) > 10 {
    @return saturate(darken($color, $percent), $percent);
  } @else {
    // Otherwise, don't add color where there wasn't any to start with
    @return darken($color, $percent);
  }
}

// Darken the color, but wash out the color a bit, for a more natural highlighted look
@function lighter-color(
  $color,
  $percent) {
  // If the element has any substantial color to it, then you can mess with the saturation
  @if saturation($color) > 10 {
    @return desaturate(lighten($color, $percent), $percent);
  } @else {
    // Otherwise, don't add color where there wasn't any to start with
    @return lighten($color, $percent);
  }
}

// Derive a readable content color from the background color of an element
@function contrast-color(
  $background-color,
  $contrast: 100%,
  $intent-color: null) {
  @if lightness($background-color) > 65 {
    @return mix(if($intent-color, $intent-color, #000), $background-color, $contrast);
  } @else {
    // Increase the contrast base for inverted colors, because light is strange
    $enhanced-contrast: $contrast * $dark-on-light-contrast-enhancement-ratio;
    @if $enhanced-contrast > 100% {
      $enhanced-contrast: 100%;
    }
    @return mix(if($intent-color, $intent-color, invert(#000)), $background-color, $enhanced-contrast);
  }
}

// Derive a subtle keyline color for element separators
@function edge-color(
  $background-color,
  $contrast: 8%) {
  // If the element is very dark, use a light edge color
  @if lightness($background-color) < 10 {
    $enhanced-contrast: $contrast * $dark-on-light-contrast-enhancement-ratio;
    @if $enhanced-contrast > 100% {
      $enhanced-contrast: 100%;
    }
    @return lighter-color($background-color, $enhanced-contrast);
  } @else {
    // Otherwise, use a natural dark edge color
    @return darker-color($background-color, $contrast);
  }
}

// Scales (some factor times 8px)
@function spacing-scale($factor) {
  @return $padding-base * $factor;
}
