// layout.scss
@import 'variables.scss';
@import 'mixins.scss';

// Local Variables
$sidebar-width-base: 230px;

// Helpers

// Styles

#root {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
}

/* Fill the entire width of the page */
#app-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.left-border {
  border-left: 1px solid #ddd;
}

.app-sidebar {
  height: 100vh;
  flex: 1 0 $sidebar-width-base;
  display: flex;
  flex-direction: column;
  background-color: $color-sidebar-background;
  background-image: url('../images/gm-fabric-bg.jpg');
  background-size: 300% auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border-right: 1px solid edge-color($color-sidebar-background);
  }
}

.app-content {
  flex: 1 1 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: $color-content-background;

  .app-content-view {
    flex: 1 1 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .app-footer {
    flex: 0 0 $padding-base * 4;
  }
}
