// mixins.scss
@import 'variables.scss';
@import 'button-mixins.scss';

// Local Variables

// Helpers

// Mixins
@mixin hidden {
  visibility: hidden;
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
}
