// typography.scss

@import 'variables.scss';
@import 'mixins.scss';

// Local Variables
$inline-icon-spacing: .25em;

// Helpers

// Styles

* {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-base;
  font-weight: $font-weight-base;
  color: inherit;

  [class*="icon"] {
    vertical-align: .085em; // Magic number. Seems to correspond roughly to descender height

    svg {
      height: 1em;
      width: 1em;
    }
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

hr {
  margin-top: spacing-scale(.5);
  margin-bottom: spacing-scale(.5);
}

body {
  font-size: $font-size-base;
  font-family: $font-stack-base;
}

small {
  font-size: 12px;
}

.uk-text-primary {
  color: $color-brand-primary !important;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.content-type-code {
  font-family: $font-stack-code;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: $font-size-base * .85;
  line-height: $line-height-base * 1.1;
}
