// variables.scss
@import 'functions.scss';

// Color
$color-brand-primary: #0aab2a;
$color-brand-secondary: #0aab2a;

$color-red: #d0021b;
$color-black: #000;
$color-green: #0aab2a;
$color-white: #fff;

$color-highlight: $color-brand-primary;

$color-success: #0aab2a;
$color-danger: red;
$color-warning: #f5a623;
$color-info: blue;

// Theme Configuration
$color-sidebar-background: $color-black;
$color-content-background: $color-white;
$border-radius-base: 3px;
$padding-base: 8px;

// Contrasts
$dark-on-light-contrast-enhancement-ratio: 2;
$contrast-interval: 4%;
$color-content: transparentize(contrast-color($color-content-background), .1);
$color-content-muted: transparentize($color-content, .2);

// Color Ranges
$colors-datarange-blue-to-red: #3a76b1, #6993c2, #95b2d2, #c4d2e1, #f1f1f1,
  #e8cdd2, #dfa9b0, #d48491, #ca6070;
$colors-datarange-blueberry-kiwi: #1d334c, #486488, #d4e3ef, #76a834, #d2e3b4;
$colors-datarange-seaweed: #1eb0d4, #127389, #1aa34e, #128a42, #bed857;
$colors-datarange-rainbow: custom-color-range(
  $base-color-1: complement($color-brand-primary),
  $type: qualitative,
  $size: 4
);
$colors-datarange-subtle: custom-color-range(
  $base-color-1: $color-brand-primary,
  $type: quantitative,
  $direction: to-dark,
  $size: 18
);
$colors-datarange-desert: custom-color-range(
  $base-color-1: #e0c39c,
  $type: quantitative,
  $direction: to-dark,
  $size: 8
);
$colors-datarange-autumn: custom-color-range(
  $base-color-1: orange,
  $type: quantitative,
  $direction: to-light,
  $size: 4
);

// Typography

// Backup font list
$font-group-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
// Fonts for specific use
$font-group-main-text: "Nunito";
$font-group-data: "Rubik";
$font-group-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
  monospace;
$font-group-data-mono: "Source Code Pro";

$font-stack-base: $font-group-main-text, $font-group-system;
$font-stack-data: $font-group-data, $font-group-system;
$font-stack-data-mono: $font-group-data-mono, $font-group-data,
  $font-group-system;
$font-stack-code: $font-group-code;

$line-height-base: 1.4;

$font-weight-base: 500;

$font-size-hero: 32px;
$font-size-lg: 18px;
$font-size-base: 14px;
$font-size-sm: 11px;
$font-size-xs: 9px;
